$size__site-main: 1000px;
$size__site-sidebar: 25%;

.navbar-fixed-top {
	position: static;
}

@media only screen and (min-width : 769px) {
	.navbar-fixed-top {
		position: fixed;
	}

	.site-content {
		margin-top: 120px;
	}

	.home .site-content {
		margin-top: 200px;
		max-width: 950px;
	}
}

@media only screen and (min-width : 769px) {

	.content-area {
		float: left;
		width: 70%;
	}

	.sidebar {
		float: right;
		width: 23%;
	}

	.home .content-area {
		float: none;
		min-height: 150px;
		width: 100%;
	}
}

footer {
}

.panel {
	padding: 3rem 0;
	overflow: auto;
	width: 100%;
}

#logos {
	background-color: lighten($lightgrey,65%);
	margin-top: 4rem;
	padding-bottom: 5rem;

	H3 {
		color: lighten($lightgrey,40%);
		text-align: left;
		margin: 0;
		padding: 0;
	}

	.container {
		text-align: center;
	}

	.widget-title {
		display: none;
	}
}
@media only screen and (min-width : 769px) {
	#logos {
		margin-top: 20rem;
	}
}

.testimonial-wrap {
	overflow: auto;
	margin-bottom: 7rem;

	.quote {
		padding: 25px;
		background-color: lighten($gold, 25%);
		border-radius: 10px;
		margin-bottom: 1em;
		text-align: left;
		position: relative;
	}
	.quote:after {
	  content: "";
	  display: block; /* reduce the damage in FF3.0 */
	  position: absolute;
	  bottom: -15px;
	  left: 40px;
	  width: 0;
	  border-width: 15px 15px 0;
	  border-style: solid;
	  border-color: lighten($gold, 25%) transparent;
	}

	.testimonial-img {
		border: solid $gold 4px;
		border-radius: 50%;
		float: left;
		margin-right: 2rem;
	}
	.testimonial-source {
		float: left;
		text-align: center;

		img {
			max-width: 150px;
		}
	}
}

@media only screen and (min-width : 769px) {
	.testimonial-wrap {
		.quote {
			min-height: 290px;
		}
	}
}

.home .entry-content {
	margin: 3em 0 0;
}

#footer-panel {
	background-color: lighten($lightgrey,35%);

	.widget-title {
		color: $green;
	}
	.widget {
		display: block;
		margin-right: 1em;
		float: left;
		text-align: left;
	}
}