.panel {
	padding: 3rem 0;
	overflow: auto;
	width: 100%;
}

#footer-panel {
	margin-top: 2rem;
	text-align: center;

	@media only screen and (min-width : 769px) {
	}

	.alignment {
		width: 70%;
		margin: 0 auto;
	}

	.widget {
		font-weight: bold;
		display: block;

			.widget-title {
				color: $green;
				text-transform: lowercase;
				margin-top: 14px;
			}

		@media only screen and (min-width : 769px) {
			float: left;
			text-align: left;
			margin-right: 2.8em;
		}
	}

	.widget:last-of-type {
		margin-right: 0;
	}

	.social-icons {
		margin-top: 1.8rem;

		a {
			color: $darkgrey;
			font-size: 25px;
			margin-right: 1.8rem;
		}
	}

	.footer-logo {
		max-width: 150px;
	}

}

.site-footer {
	.terms .nav {
		margin-left: 0;
		
		a {
			color: $darkgrey;

			&:hover {
				color: $lightgrey;
			}
		}

		@media only screen and (min-width : 769px) {
			float: right;
		}
	}	

	.copyright {
		float: left;
		margin-top: 10px;
	}	
}