.testimonial-wrap {
	overflow: auto;
	margin-bottom: 7rem;

	.quote {
		padding: 25px;
		background-color: lighten($lightestgrey, 25%);
		border-radius: 10px;
		margin-bottom: 1em;
		text-align: left;
		position: relative;
	}
	.quote:after {
	  content: "";
	  display: block; /* reduce the damage in FF3.0 */
	  position: absolute;
	  bottom: -15px;
	  left: 40px;
	  width: 0;
	  border-width: 15px 15px 0;
	  border-style: solid;
	  border-color: lighten($lightestgrey, 25%) transparent;
	}

	.testimonial-img {
		border: solid $lightestgrey 4px;
		border-radius: 50%;
		float: left;
		margin-right: 2rem;
	}
	.testimonial-source {
		float: left;
		text-align: center;

		img {
			max-width: 150px;
		}
	}
}

@media only screen and (min-width : 769px) {
	.testimonial-wrap {
		.quote {
			min-height: 290px;
		}
	}
}