.testimonials {
	list-style: none;
	padding-left: 0;
	margin: 3rem 0 0 0;

	.quote {
		margin-bottom: 1em;
		text-align: left;
		position: relative;
	}

	.testimonial-source {
		width: 100%;
		
		.name {
			font-weight: bold;
		}

		.logo {
			float: right;
			max-width: 150px;
		}
	}
}

#pager {
	list-style: none;

	.testimonial-img {
		border: solid $rust 4px;
		border-radius: 50%;
	}

	LI {
		filter: grayscale(100%);
		opacity: 0.5;
		float: left;
		margin: 0 2rem 2rem 0;
	}

	LI.rslides_here {
		opacity: 1.0;
		filter: grayscale(0%);
	}
}

@media only screen and (min-width : 769px) {

}