@media only screen and (min-width : 769px) {

	.content-area {
		width: 70%;
		margin: 0 auto;
	}

	.sidebar {
		float: right;
		width: 23%;
	}

	.home .content-area {
		float: none;
		min-height: 150px;
		width: 100%;
	}
}

@media only screen and (min-width : 769px) {

	.site-content {
		margin-top: 120px;
	}

	.home .site-content {
		max-width: 950px;
		margin-top: 200px;
		margin-bottom: 200px;
	}
}


#logos {
	background-color: lighten($lightgrey,65%);
	margin-top: 4rem;
	padding-bottom: 5rem;

	H3 {
		color: lighten($lightgrey,40%);
		text-align: left;
		margin: 0;
		padding: 0;
	}

	.container {
		text-align: center;
	}

	.widget-title {
		display: none;
	}
}

.home {
	.entry-content {
		margin: 3em 0 0;
	}
}

// Layout differences on the about page
.page-id-12581 {

	h1 {
		display: none;
	}

	.pollution {
		margin-bottom: 15rem;

		h2, h3, h4, h5, h6 {
			color: #fff;
		}

		color: #fff;
		
		a, a:visited, a:hover, a:active {
			color: $gold;
		}
	}



	.site-content {
		background-color: #434448; // Old browsers
		@include linear-gradient(0deg, #ffffff 50%, #8e8f8e 51%, #434448 100%);
	}

	@media only screen and (min-width : 769px) {
		.content-area {
			width: 100%;
			padding: 0 15%;
		}
	}
}


@import "header";

@import "testimonials";

@import "footer";