table {
	margin: 0 0 1.5em;
	width: 100%;
}

table.outlined {
	th, td {
		border: solid $darkgrey 2px;
		padding: 1rem;
	}

	th {
		background-color: $lightestgrey;
		color: #fff;
		font-weight: bold;
		text-align: center;
		font-size: 1.4rem;
	}
}