a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Global styles for content links */
.entry-content a {
	color: $blue;
	text-decoration: none;

	&:visited {
		color: $blue;
	}
	&:hover {
		color: $blue;
		text-decoration: underline;
	}
}

.edit-link {
	display: none;
}
@media only screen and (min-width : 769px) {
	.edit-link {
		position: fixed;
		top: 150px;
		right: 50px;
	}
}